<p id="notice"><%= notice %></p>

<h1>Listing Books</h1>

<table>
  <thead>
    <tr>
      <th>Isbn</th>
      <th>Title</th>
      <th>Description</th>
      <th>Author</th>
      <th>Status</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.ISBN %></td>
        <td><%= book.title %></td>
        <td><%= book.description %></td>
        <td><%= book.author %></td>
        <td><%= book.status %></td>
        <td><%= book.user %></td>
		
        <td><%= link_to 'Show', book %></td>
		<% @checkout = Checkout.new %>
		<% @checkout.book_id = book.ISBN %>
	<td>	<% if(book.status =="available") %>
	<%= form_for(@checkout) do |f| %>
	<% if @checkout.errors.any? %>
  
      <h2><%= pluralize(@checkout.errors.count, "error") %> prohibited this checkout from being saved:</h2>

      <ul>
      <% @checkout.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
  
  <% end %>
    <div>
    <br>
    <%= f.hidden_field :book_id, :value =>book.id %>
	 <%= f.hidden_field :status, :value =>"Checkout" %>

  </div>

  <div class="actions">
    <%= f.submit %>
  <% end %>
<% end %> </td>
		<td><%= link_to 'Checkout',"checkouts(checkout)", method: :post%></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>
